<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <p>Hi <%= @asker_name %></p>

    <p>Your question on the Codaisseur Forum got a new reply from <%= @answerer_name %>. Please visit the forum to check it out.</p>

    <p>Question: <%= link_to(@question.title, question_url(@question)) %></p>

    <p>Cheers,</p>
    </br>
    <p>The Codaisseur Team</p>

    </body>
</html>
